<section class="main-section">
    <div class="overlay"></div>
    <div class="image-layout">
        <div class="left">
            <button class="btn-style" (click)="connectSpotify()">Se connecter </button>
            <p>Réaliser un canvas de vos stats Spotify et partager le avec vos amis</p>
        </div>
        <div class="right">
            <div class="card"></div>
        </div>
    </div>
    <div class="hero-container"></div>

    <div class="titre-wrapper">
        <div class="titre">
            <h1>Retrouvez vos statistiques d'écoutes Spotify</h1>
            <h1>Retrouvez vos statistiques d'écoutes Spotify</h1> 
        </div>
    </div>
</section>
