/* You can add global styles to this file, and also import other style files */
*{font-family: 'Montserrat', sans-serif;}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-style{
    text-decoration: none;
    background: rgba(0, 255, 147, 0.50);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 255, 147, 1);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.5rem 1rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
}